h1{
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    color: #FFFFFF;
}

h2{
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    color: #FFFFFF66;
}


p{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}


.btn{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    width: max-content;
    white-space: nowrap;
    transition: 0.3s;
    border: 1px solid #740013;
    background: linear-gradient(92.38deg, #CE0E2D 7.05%, #740013 90.5%);

    height: 80px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 29px 39px;

}

.btn:hover{
    background: #18181B;
}
.section-margin{
    margin-top: 140px;
}






/* Анимации */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}


.animate-on-scroll.delay-100 { transition-delay: 0.2s; }
.animate-on-scroll.delay-200 { transition-delay: 0.4s; }
.animate-on-scroll.delay-300 { transition-delay: 0.6s; }
.animate-on-scroll.delay-400 { transition-delay: 0.8s; }
.animate-on-scroll.delay-500 { transition-delay: 0.10s; }
.animate-on-scroll.delay-600 { transition-delay: 0.12s; }




/*==========-global-style-end-==========*/






.lner-main{
    margin-top: 95px;
}
.lner-info{
    max-width: 700px;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.6s;
}
.anime-act .lner-info{
    opacity: 1;
    transform: translateY(0);
}
.logo{
    max-width: 159px;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.6s;
}
.anime-act .logo{
    opacity: 1;
    transform: translateY(0);
}


.lner-info h1{
    margin-top: 60px;
    max-width: 660px;
    width: 100%;
}
.lner-info p{
    margin-top: 28px;
    max-width: 600px;
    width: 100%;
    font-size: 18px;
}
.lner-info .btn{
    margin-top: 60px;
}

.lner-photo{
    max-width: 820px;
    position: absolute;
    width: 100%;
    opacity: 0;
    right: 0;
    transform: translateY(50px);
    transition: 0.6s;
    display: flex;
    justify-content: center;
    padding-top: 95px;
    padding-left: 80px;
}
.lner-photo:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 820px;
    width: 100%;
    height: 903px;
}
.lner-photo img{
    position: relative;
    z-index: 1;
}

.anime-act .lner-photo{
    opacity: 1;
    transform: translateX(0);
}


.lner-cnt{
    max-width: 700px;
    width: 100%;
    margin-top: 82px;
}



.lner-skil-box{
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}




.lner-skil-fon{
    background: #FFFFFF;
    width: 100%;
    height: 160px;
    border-radius: 20px;
}

.lner-skil-box small{
    color: #FFFFFFCC;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    display: block;
    margin-top: 9px;
}








.platforms-info{
    max-width: 1080px;
    width: 100%;
}

.platforms-info p{
    margin-top: 40px;
}
.platforms-info ul{
    margin-top: 26px;
    margin-left: 24px;
    list-style-type: disc;
}
.platforms-info ul li{
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
}

.database-flex{
    margin-top: 60px;
    gap: 52px;
}

.database-photo{
    width: 50%;
    box-shadow: 0px 33px 33px 0px #00000017;
    border-radius: 10px;
}
.database-photo img{
    border-radius: 10px;
    width: 100%;
}




.network-flex{
    gap: 30px;
    align-items: center;
}
.network-info{
    max-width: 800px;
    width: 100%;
}

.network-info p{
    margin-top: 30px;
}

.network-photo{
    max-width: 322px;
    width: 100%;
}


.functional-info{
    max-width: 1096px;
    width: 100%;
}


.functional-info span{
    display: block;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}
.functional-info ul{
    margin-top: 30px;
    list-style-type: disc;
    margin-left: 22px;
}
.functional-info ul li, .corporate-info ul li{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}


.functional-pic{
    width: 100%;
    margin-top: 80px;
    box-shadow: 0px 68px 68px 0px #00000017;
    border-radius: 10px;

}
.functional-pic img{
    border-radius: 10px;
    width: 100%;
}



.corporate-flex{
    gap: 48px;
}

.corporate-phone{
    max-width: 322px;
    width: 100%;
}
.corporate-info{
    max-width: 868px;
    width: 100%;
}
.corporate-info h2{
    font-size: 90px;

}
.corporate-info ul{
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 60px;
}

.ipadapp{
    max-width: 644px;
    width: 100%;
}


.submenu{
    background: #EEEEEE;
    display: none;
    border-radius: 0 0 10px 10px;
    padding: 34px 25px;
    border: 1px solid #FFFFFF;
}
.submenu p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #18181B;
}
.accordion{
    margin-top: 40px;
}
.accordion-box{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
}
.accordion-click{
    padding: 17px 20px 17px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.accordion-click h3{
    color: #18181B;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
.accordion-plus{
    max-width: 24px;
    width: 100%;
    height: 24px;
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open .accordion-plus{
    transform: rotate(45deg);
}
.accordion-plus:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #303439;
    border-radius: 5px;
}
.accordion-plus:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #303439;
    border-radius: 5px;
}



.contact-form{
    box-shadow: 0px 41px 41px 0px #00000017;

    background: #FFFFFF;
    width: 100%;
    border-radius: 20px;
    padding: 50px 40px;
    margin-top: 30px;
}


.project-form-title p{
    text-align: center;
    margin-top: 11px;
}

.contact-form-flex{
    gap: 30px;
}
.contact-input{
    width: 100%;

}
.contact-input label{
    width: 100%;
    display: flex;
}
.contact-input input, .contact-textarea textarea{
    font-family: 'Montserrat';
    border: 1px solid rgba(235, 235, 235, 1);
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
    padding: 20px;
    color: rgba(110, 110, 110, 1);

}
.contact-input input::placeholder{
    color: rgba(110, 110, 110, 0.7);
}


.contact-textarea{
    margin-top: 30px;
}
.contact-textarea label{
    display: flex;
}
.contact-textarea textarea{
    height: 120px;
}
.contact-textarea textarea::placeholder {
    color: rgba(110, 110, 110, 0.7);

}

.contact-btn{
    margin-top: 21px;
    gap: 29px;
}
.contact-btn p {
    max-width: 370px;
    width: 100%;
    color: #18181B;
    font-size: 14px;
    line-height: 20px;
}

.contact-btn .btn{
    max-width: 350px;
    width: 100%;
}
.project-form-min{
    padding-bottom: 150px;
}